@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Merriweather", serif;
}

/* banner section style */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url('images/Banner\ Image.png');
    border-radius: 16px;
}
.banner-content{
    color: white;
    text-align: center;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}
.banner-content h1{
    font-size: 72px;
font-weight: 900;
line-height: 95px
}

/* main container section work here */
.main-container{
    max-width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}
.main-content{
    text-align: center;
}
.main-content h1{
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 48px;
    color: red;
}
.main-content p{
    font-size: 24px;
font-weight: 500;
line-height: 29px;
color: red;
margin-bottom: 16px;
text-transform: uppercase;
}
.main-content h2{
    font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-bottom: 48px;
}

/* welcome banner section */
.welcome-banner{
    background-image: url('images/Vectorrr.png');
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
    width: 1320px;
    height: 600px;
    margin: 120px auto;
}
.welcome-content{
    color: white;
    padding: 126px;
    width: 642px;
height: 176px;
}
.welcome-content h1{
    font-size: 44px;
line-height: 60px;
letter-spacing: 11%;
text-align: left;
}
.welcome-content p{
    margin: 20px 0;
    font-size: 16px;
line-height: 30px;
opacity: 0.6;
}
.welcome-content span{
    text-transform: uppercase;
    font-size: 18px;
line-height: 22px;
cursor: pointer;
padding: 5px 10px;
}
/* booking section */
.booking-section{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.booking-details{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.booking-details span{
    color: red;
}
.booking-details button{
    margin-top: 48px;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    font-size: 16px;
text-transform: uppercase;
color: white;
cursor: pointer;
border: none;
}

/* deals section */

.deals-section{
    margin: 120px auto;
width: 1320px;
height: 463px;
border-radius: 16px;
}
.deals-offer{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.deals{
    width: 30%;
}
.deals h2{
    padding: 20px 0;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: red;
}
.deals span{
    font-size: 35px;
    font-weight: 900;
line-height: 50px;
}
.deals p{
    padding: 20px 0;
    font-size: 16px;
line-height: 25px;
opacity: 0.6;
}
.deals-banner{
    width: 30%;
}
.offer{
    width: 30%;
    margin-left: 118px;
}
.offer span{
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: red;
}
.offer p{
    margin: 15px 0;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
}

/* holidays section */
.holidays-section{
    max-width: 1320px;
    height: 986px;
    margin: 0 auto;
    border-radius: 16px;
    position: relative;
}
.holidays-details{
    text-align: center;
    padding: 0 20%;
}
.holidays-details h5{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
.holidays-details h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 10px 0;
}
.holidays-details h3 span{
    color: red;
}
.holidays-details p{
    font-size: 16px;
font-weight: 500;
line-height: 28px;
}

.solid-color{
    display: flex;
}
.solid-color .img2{
    height: 100%;
    margin-top: 20%;
}

/* gift section */
.gift-section{
    max-width: 1320px;
height: 1163px;
margin: 0 auto;
}
.gift-details span{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: red;
}
.gift-details h2{
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
    margin: 10px 0;
}
.gift-details p{
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
    padding-right: 60%;
}

/* gift card */
.gift-card{
    padding: 10px;
    gap: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* subscribe section */
.subcribe-section{
    max-width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin: 0 auto;

}

.subcribe-details{
    text-align: center;
    align-items: center;
    padding: 80px 212px;
}
.subcribe-details h1{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin: 20px 0;
}
.subcribe-details p{
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
    margin-bottom: 30px;
}
.input-style{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.input-style input[type="email"]{
    border-radius: 15px 0 0 15px; 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 200px;
    outline: none;
}
.input-style button{
    border-radius: 0 15px 15px 0; /* Half border radius */
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
/* footer */
footer{
    margin-top: 120px;
}
.footer{
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    min-height: 300px;
background: rgba(0, 0, 0, 0.226);
background-blend-mode: overlay;
margin: 0 auto;
color: white;
display: grid;
grid-template-columns: repeat(3, 1fr);
text-align: center;
padding: 160px 0;
}
.social-icons {
    gap: 15px;
    display: flex;
}
.footer .call{
display: flex;
}
.footer .scan{
    margin: 10px 0;
    display: flex;
}
